/*
 * Name: April Jane
 * Date: Janurary 2013 
 * Description: A theme for http://blog.imley.net
 * Author: Leroy Jiang
 * Author URI: http://imley.net
 */

/* Imports */

body {
    padding-top: 70px;
}

#sidebar ul {
    padding-left: 2em;
}

article.entry-summary {
    border-bottom: 1px solid #eee;
}

footer {
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding-top: 0.5em;
}